@import colors

// Constants
$font: Avenir, Helvetica, Arial, sans-serif

// Container width (This is normally 50vw,
//   but when it's smaller than 900px, use 100vw - 50px, because 50px is the margin)
$app-width: max(50vw, min(900px, 100vw - 50px))
$c-highlight: #ff7878

// Highlight color
.color-highlight
  color: $c-highlight

// Non-selectable text
@mixin unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.unselectable
  @include unselectable

@mixin undraggable
  user-drag: none
  -webkit-user-drag: none
  @include unselectable

.undraggable
  @include undraggable

  img
    @include undraggable

// Clickable text
.clickable:hover
  cursor: pointer
  @include unselectable

// No wrap text
.nowrap
  overflow: hidden
  white-space: nowrap
  text-overflow: clip

.nowrap.e
  text-overflow: ellipsis

#page-desc
  margin-bottom: 20px

.tgb-card
  width: 100%
  background: #fdf9f1
  border-radius: 20px
  margin-bottom: 20px
  padding: 10px 20px
  overflow: auto
  overflow-x: hidden
  box-sizing: border-box
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%)

.spoiler
  @include unselectable
  cursor: pointer
  transition: all .4s ease
  background-color: $color-text-light
  margin: 0 1px
  border-radius: 3px

  span
    opacity: 0

.spoiler.spoiler-visible
  background-color: transparent

  span
    filter: blur(0)
    opacity: 1
